<!--
File name:    edit_alert.html
Author:       Martin Dwyer
Date:         April 7, 2020
Description:  This file provides users with a form to change the alert price for an existing alert
License:      The application is provide herein under the GNU General Public License, a free copyleft license for
              software.  A copy of this license has been provided in the root folder of this application.
-->

<!-- Extending base.html for sources, header, navigation bar, and footer -->
{% extends "base.html" %}

<!-- Content below appears in the div with id block_content from base.html -->
{% block content %}

<!-- Page heading and sign out option -->
<div class="container">
<div id="page-title">
    <h1>
        Update Alert
    </h1>
    <div id="sign-out">
        <a class="btn btn-success" href="{{ url_for('users.logout_user') }}">Sign Out</a>
    </div>
    <div class="clear-float"></div>
</div>

<!-- Form for editing alert price -->
<section class="create-alert-form">
    <form method="post">
        <div>
            <div class="form-group">
                <label for="name">Alert Name</label>
                <input class="form-control" type="text" id="name" name="name" value="{{ alert.name }}" disabled/>
            </div>
            <div class="form-group">
                <label for="item_url">Item URL</label>
                <input class="form-control" type="text" id="item_url" name="item_url" aria-describedby="itemURLHelp"
                       value="{{ alert.item.url }}" disabled/>
                <small class="form-text text-muted" id="itemURLHelp">Copy and paste the MongoDb item id here</small>
            </div>
            <div class="form-group">
                <label for="price_limit">Price Limit</label>
                <input class="form-control" type="text" id="price_limit" name="price_limit"
                       aria-describedby="priceLimitHelp" placeholder='e.g. 150.00' value="{{ alert.price_limit }}"/>
                <small class="form-text text-muted" id="priceLimitHelp">Under what price would you like to be
                    notified?</small>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</section>
    </div>
{% endblock %}